/* The slider: */
.slider{
  max-width: 90%;
  /* The position of the element is set relative to its original position: */
  position: relative;
  /* Center horizontally: */
  margin: auto;
  height: 300px;
  
}
h2{
  text-align: center;
}
/* The picture is scaled in relation to the parent element: */
.slider .item img {
  /* The element is resized to fill the block and maintain proportions: */
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.slider .previous img, .slider .next img{
width: 35px;
opacity: 0.5;

}
/* Back and forward buttons: */
.slider .previous, .slider .next {
  /* Adds an icon to the cursor when it is over the button: */
  cursor: pointer;
  /* The position of the element is set relative to the borders of the browser: */
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  /* Styling the buttons themselves: */
  color: white;
  font-weight: bold;
  font-size: 16px;
  /* Background fading on hover: */
  transition: 0.6s ease;
  /* Rounding the borders: */
  border-radius: 0 3px 3px 0;
}
.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* When you hover over the buttons, add the background of the buttons: */
.slider .previous:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
/* Slide animation: */
.slider .item {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  /* Set and change the transparency: */
  from {
      opacity: 0.4
  }
  to {
      opacity: 1
  }
}